<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render '/head.*' %>
    <link rel="canonical" href="<%= @config[:base_url] %>/search/">
    <%= render '/instantsearch-head.*' %>
  </head>
  <body>
    <%= render '/gtm.*' %>
    <%= render '/header.*' %>
    <section class="container-fluid">
      <div class="row">
        <div class="col-0 col-lg-2"></div>
        <div class="col-12 col-lg-8 border-left">
          <div class="wrapper d-flex justify-content-center">
            <div class="main class instantsearch-input">
              <%= yield %>
              <%= render '/footer.*' %>
            </div>
          </div>
        </div>
        <div class="col-0 col-lg-2"></div>
        </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha512-ubuT8Z88WxezgSqf3RLuNi5lmjstiJcyezx34yIU2gAHonIi27Na7atqzUZCOoY4CExaoFumzOsFQ2Ch+I/HCw==" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <script type="application/javascript" src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
      <script src="<%= @items['/frontend/header/index.*'].path %>"></script>
      <script src="<%= @items['/frontend/search/index.*'].path %>"></script>
      <% if production? %>
      <%# Add analytics only in production %>
        <%= render '/analytics.*' %>
      <% end %>
      <%= render '/schema-microdata.*' %>
  </body>
</html>
